@import url(http://fonts.googleapis.com/css?family=Dosis:700);
@import './variables'
@import './global'
@import '../components/Header/header'
@import '../components/SelectLanguageOptions/selectLanguageOptions'
@import '../components/ButtonStart/buttonStart'
@import '../components/InputInterval/inputInterval'