body
	font-family "Open Sans", sans-serif
	background #FFF
	margin 0
	padding 20px
	width 500px
.btn
	padding 10px 20px
	border none
	border-radius 4px
	color #FFF
	text-transform uppercase
	font-size 13px
	font-weight bold
	outline none
	cursor pointer