bg-button = #3498DB
gray-light = #bfbfbf
gray-border = rgba(78, 89, 115, 0.64)
green-light = #a4dc50
red-light = rgba(248, 97, 97, 1)

color-1 = rgba(44, 151, 222, 1); //blue pack
color-2 = rgba(243, 211, 104, 1) //orange pack
color-3 = rgba(152, 91, 205, 1) //purple pack
color-4 = rgba(202, 220, 158, 1) //green pack
