.import__container
  position absolute
  right 21px
  margin-top -19px
  .import__btn
    font-size 10px
    cursor pointer
    text-transform uppercase
    background transparent
    border none
    text-align center
    svg
      padding-left 5px
      display block
      width 25px
      height 25px
  input[type="file"]
    position absolute
    top -1000px
    left -1000px