.content-point
	padding-left 10px
	padding-right 10px
	text-align right

.Point-over
	float right

.Point-level
	font-weight 800
	color #6b6b6b
	text-transform uppercase

.Point-point
	display block
	font-size 25px
	text-align center
.content-progress
	margin-top -3px
	margin-left -4px