
/* BTN play/stop */


section.content-interval, section.start
	padding: 20px 20px 14px 20px

section.content, section.start
	text-align: center;

.animate
	transition all 0.1

.action-button
	position relative
	padding 7px 27px
	border-radius 10px
	font-family 'Pacifico', cursive
	font-size 14px
	color #FFF
	text-decoration none
	cursor pointer

.blue
	background-color #3498DB
	border-bottom 5px solid #2980B9
	text-shadow 0px -2px #2980B9
	
.red
	background-color #E74C3C
	border-bottom 5px solid #BD3E31
	text-shadow 0px -2px #BD3E31

.action-button:active
	transform translate(0px,5px)
	border-bottom 1px solid