
/* BTN play/stop */


section.content-interval, section.start
	padding: 20px 21px 14px 24px

section.content, section.start
	text-align: center;

.animate
	transition all 0.1s

.action-button
	position relative
	padding 9px 33px
	border-radius 10px
	font-family 'Pacifico', cursive
	font-size 14px
	color #FFF
	text-decoration none
	cursor pointer

.blue
	background-color #3498DB
	text-shadow 0px -2px #2980B9
	
.red
	background-color #E1715B
	text-shadow 0px -2px #d67461


.start
	position absolute
	right 0px
	top 59px