.card-content
  padding 0
  margin-top 50px
  margin-bottom 70px
  list-style none
  display flex
  justify-content space-between
  .card-item
    width 124px
    height 124px
    background color-4
    border-radius 4px
    position relative
    .card-item--count
      color #FFF
      font-size 50px
      margin 0
      font-weight bold
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
    &.color-1
      background color-1
    &.color-2
      background color-2
    &.color-3
      background color-3
    &.color-4
      background color-4