.pack-item
  cursor pointer
.pack-item--new
  padding 50px
  text-align center
  padding 5px
  border 1px botted rgba(44,151,222,1)
  width 380px
.packs-content
  padding 0
.create-package--icon
  font-size 80px
  margin 0
  line-height 10px
.create-package--description
  margin 0
