.packages
    li
      outline none
.addPackage-btn
  width 110px
  height 110px
  font-size 50px
  outline none
  border none
  background #eee
  cursor pointer
  color #929292
  &:hover, &:focus
    background #e0dede

.packageName
  background #ececec
  padding 5px 10px
  height 17px
  border none
  outline none
  display block
  transition all .3s 
  &:focus
    transform translateY(3px)

.creatingItem__create-btn
  border none
  padding 6px 20px
  margin-top 10px
  outline none
  cursor pointer
  background #ececec
  &:hover, &:focus
    background #d8d8d8

.creatingItem__container
  text-align center
  margin-top 30px

.creatingItem__required
  color #f55d5d