.addPackage-btn
  width 100px
  height 100px
  font-size 50px
  border none
  background #eee
  cursor pointer
  color #929292

.packageName
  background #ececec
  padding 5px 10px
  height 17px
  border none
  outline none
  display block
  &:hover, &:focus
    border 1px solid #aaa

.creatingItem__create-btn
  border none
  padding 6px 20px
  margin-top 10px
  outline none
  cursor pointer
  background #ececec
  &:hover, &:focus
    border 1px solid #aaa

.creatingItem__container
  text-align center
  margin-top 30px

.creatingItem__required
  color #f55d5d